<center>
  <p style="color: #eb5e55;">
    Remember to check the temporary <em>and</em> permanent tabs!
  </p>
</center>
<br>

<% case current_user.coop_id %>
<% when 1 %>
  <% controller.redirect_to root_url %>
<% when 2 %>
  <%= render 'save_plates/desktop_view/fairkid' %>
<% when 3 %>
  <%= render 'save_plates/desktop_view/harkness' %>
<% when 4 %>
  <%= render 'save_plates/desktop_view/keep' %>
<% when 5 %>
  <%= render 'save_plates/desktop_view/pyle' %>
<% when 6 %>
  <%= render 'save_plates/desktop_view/tank' %>
<% when 7 %>
  <%= render 'save_plates/desktop_view/twc' %>
<% end %>
