<center>

  <% if current_user.coop_id.nil? %>
    <h2><u>OSCA Student Contact</u></h2>
    <h4>Check back here for contact information once you are approved to join your co-op's OSCA Hub.</h4>

  <% else %>
    <h2><u><%= Coop.coops[current_user.coop_id] %> Student Contact</u></h2>

    <% case current_user.coop_id %>
      <% when 1 %>
        <%= render 'contact/brown_bag' %>
      <% when 2 %>
        <%= render 'contact/fairkid' %>
      <% when 3 %>
        <%= render 'contact/harkness' %>
      <% when 4 %>
        <%= render 'contact/keep' %>
      <% when 5 %>
        <%= render 'contact/pyle' %>
      <% when 6 %>
        <%= render 'contact/tank' %>
      <% when 7 %>
        <%= render 'contact/twc' %>
    <% end %>

  <% end %>

<%= render 'static_pages/logged_out_contact' %>
</center>
