<script type="text/javascript" src="app/assets/javascripts/popovers.js">
</script>

<% if logged_in? %>
<% provide(:title, 'Save Plates') %>
  <h1 data-toggle="popover"
      data-placement="bottom"
      data-title="<center>How do I request a Save Plate?</center>"
      data-content=
        "<center>You can <b>directly add or remove</b> your name from the chart
          below - it will be updated automatically!</center>">
    Save Plates
  </h1>

  <% if current_user.coop_id.nil? %>
    <h2>Check back here for save plates after you are approved
      to join your co-op's OSCA Hub.</h2>

  <% else %>
    <center>
      <p style="color: #eb5e55;">
        Remember to check the temporary <em>and</em> permanent tabs!
      </p>
    </center>
    <br>

    <% case current_user.coop_id %>
    <% when 1 %>
      <% controller.redirect_to root_url %>
    <% when 2 %>
      <%= render 'save_plates/fairkid' %>
    <% when 3 %>
      <%= render 'save_plates/harkness' %>
    <% when 4 %>
      <%= render 'save_plates/keep' %>
    <% when 5 %>
      <%= render 'save_plates/pyle' %>
    <% when 6 %>
      <%= render 'save_plates/tank' %>
    <% when 7 %>
      <%= render 'save_plates/twc' %>
    <% end %>

  <% end %>

<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
