<% if logged_in? %>
<% provide(:title, 'Workchart') %>
<h1>Workchart</h1>

  <% if current_user.coop_id.nil? %>
    <h2>Check back here for your workchart once you are approved to join your co-op's OSCA Hub.</h2>

  <% else %>

    <% case current_user.coop_id %>
    <% when 1 %>
      <%= render 'workcharts/brown_bag' %>
    <% when 2 %>
      <%= render 'workcharts/fairkid' %>
    <% when 3 %>
      <%= render 'workcharts/harkness' %>
    <% when 4 %>
      <%= render 'workcharts/keep' %>
    <% when 5 %>
      <%= render 'workcharts/pyle' %>
    <% when 6 %>
      <%= render 'workcharts/tank' %>
    <% when 7 %>
      <%= render 'workcharts/twc' %>
    <% end %>

  <% end %>

<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
