<% if logged_in? %>
<% provide(:title, 'Workchart') %>
<h1>Workchart</h1>

  <% if current_user.coop_id == nil %>
    <h2>Check back here for your workchart once you are approved to join your co-op's OSCA Hub.</h2>
  <% end %>

  <% if current_user.coop_id == 1 %>
    <%= render 'workcharts/brown_bag' %>
  <% end %>

  <% if current_user.coop_id == 2 %>
    <%= render 'workcharts/fairkid' %>
  <% end %>

  <% if current_user.coop_id == 3 %>
    <%= render 'workcharts/harkness' %>
  <% end %>

  <% if current_user.coop_id == 4 %>
    <%= render 'workcharts/keep' %>
  <% end %>

  <% if current_user.coop_id == 5 %>
    <%= render 'workcharts/pyle' %>
  <% end %>

  <% if current_user.coop_id == 6 %>
    <%= render 'workcharts/tank' %>
  <% end %>

  <% if current_user.coop_id == 7 %>
    <%= render 'workcharts/twc' %>
  <% end %>

<% else %>
  <%= render 'static_pages/logged_out_home' %>
<% end %>
