<% coops = ["", "Brown Bag", "Fairkid", "Harkness", "Keep", "Pyle", "Tank", "TWC"] %>

<li id="announcement-<%= announcement.id %>">
  <%= link_to gravatar_for(announcement.user, size: 50), announcement.user %>
  <span class="user"><%= link_to announcement.user.name, announcement.user %></span>
  <span class="content"><%= announcement.content %></span>
  <span class="timestamp">
    posted <%= time_ago_in_words(announcement.created_at) %> ago
    <% if current_user?(announcement.user) %>
      | <%= link_to "push", announcement, method: :notify_thru_email, style: "color: #9900b6;",
                                      data: { confirm: "Email this announcement to " \
                                              +coops[current_user.coop_id]+"?" } %>
      | <%= link_to "delete", announcement, method: :delete, style: "color: #666666;",
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
