<hr>
<li id="announcement-<%= announcement.id %>">
  <% if current_user.coop_id == announcement.coop_id %>
    <%= render 'announcements/dropdown', announcement: announcement %>
  <% end %>

  <%= link_to gravatar_for(announcement.user, size: 50), announcement.user %>
  <span class="user"><%= link_to announcement.user.name, announcement.user %>

    <span class="timestamp">
      <%= render 'layouts/timestamp', object: announcement %>
    </span>
  </span>

  <span class="content"><%= markdown(announcement.content) %></span>

  <%= render 'comments/new', announcement: announcement %>
  <%= render 'comments/feed', announcement: announcement %>

</li>
