<li id="announcement-<%= announcement.id %>">
  <%= link_to gravatar_for(announcement.user, size: 50), announcement.user %>
  <span class="user"><%= link_to announcement.user.name, announcement.user %>
    <span class="timestamp">
      <% if announcement.created_at > 1.day.ago %>
          <%= time_ago_in_words(announcement.created_at) %> ago
      <% else %>
        <% if announcement.created_at < 1.year.ago %>
          <%= announcement.created_at.strftime("%b %_d, %Y") %>
        <% else %>
          <%= announcement.created_at.strftime("%b %_d") %>
        <% end %>
      <% end %>
    </span>
  </span>

  <%= render 'announcements/actions', announcement: announcement %>

  <span class="content"><%= announcement.content %></span>

    <%= render 'comments/new', announcement: announcement %>
    <%= render 'comments/comments', announcement: announcement %>

</li>
