<li class="menus">
  <% if current_user?(menu.user) %>
    <%= render 'menus/dropdown', menu: menu %>
  <% end %>

  <%= link_to gravatar_for(menu.user, size: 50), menu.user %>

  <span class="title">
    <%= menu.created_at.strftime("%A") %>
    <%= menu.meal? ? " Lunch" : " Dinner" %>
  </span>

  <span class="timestamp">
    <%= render "layouts/timestamp", object: menu %> |
  </span>

  <span class="user"><%= link_to menu.user.name, menu.user, style: "color: #777;" %></span>

  <span class="content">
    <h4>starch: </h4><%= menu.starch %><br>
    <h4>protein: </h4><%= menu.protein %><br>
    <h4>vegetable: </h4><%= menu.vegetable %><br>
    <h4>restrictions: </h4><%= menu.restrictions %><br>
    <%= menu.notes %></span>
</li>
