<%= form_for(@menu) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :starch, "*Starch" %>
    <%= f.text_field :starch, class: 'form-control', required: true %>

    <%= f.label :protein, "*Protein" %>
    <%= f.text_field :protein, class: 'form-control', required: true %>

    <%= f.label :vegetable, "*Vegetable" %>
    <%= f.text_field :vegetable, class: 'form-control', required: true %>

    <%= f.label :restrictions, "*Restrictions" %>
    <%= f.text_field :restrictions, class: 'form-control', required: true %>

    <%= f.label :notes, "Notes" %>
    <%= f.text_field :notes, class: 'form-control' %>

    <%= f.submit "Post Menu", class: "btn btn-primary" %>
  </div>
<% end %>
