<li class="menus">
  <% if current_user?(menu.user) %>
    <%= render 'menus/dropdown', menu: menu %>
  <% end %>

  <%= link_to avatar_for(menu.user, size: 50), menu.user %>

  <span class="title">
    <%= menu.created_at.strftime("%A") %>
    <%= menu.meal? ? " Lunch" : " Dinner" %>
  </span>

  <span class="timestamp">
    <%= render "layouts/timestamp", object: menu %> |
  </span>

  <span class="user"><%= link_to menu.user.name, menu.user, style: "color: #777;" %></span>

  <span class="content">
    <p class="food-group">starch: </p><%= menu.starch %><br>
    <p class="food-group">protein: </p><%= menu.protein %><br>
    <p class="food-group">vegetable: </p><%= menu.vegetable %><br>
    <p class="food-group">restrictions: </p><%= menu.restrictions %><br>
    <%= menu.notes %></span>
</li>
