<div class="other-announcements" id="other-announcements-2">
  <%= render 'announcements/other_coop_announcements/announcement', coop: 2 %>
</div>

<div class="other-announcements" id="other-announcements-3">
  <%= render 'announcements/other_coop_announcements/announcement', coop: 3 %>
</div>

<div class="other-announcements" id="other-announcements-4">
  <%= render 'announcements/other_coop_announcements/announcement', coop: 4 %>
</div>

<div class="other-announcements" id="other-announcements-5">
  <%= render 'announcements/other_coop_announcements/announcement', coop: 5 %>
</div>

<div class="other-announcements" id="other-announcements-6">
  <%= render 'announcements/other_coop_announcements/announcement', coop: 6 %>
</div>
