<%= @event.user.name %> pushed a sub request to <%= @coop %>:

<%= @event.shift %> on <%= @event.date.strftime("%A %b %_d") %>

  <% if !@event.message.blank? %>
      <%= @event.message %>
  <% end %>

Please consider covering their shift if you are able!
<%= @event.user.name %> can be reached at <%= @event.user.email %>.

<em><p>In cooperation,</p></em>
<em><p>OSCA Hub</p></em>
