<em><%= @event.user.name %> pushed a sub request to <%= @coop %>:</em>

<br>

<p style="font-size: 15px;"><b><%= @when %></b>
on <b><%= @event.date.strftime("%A %b %_d") %></b></p>

  <% if !@event.message.blank? %>
    <p style="font-size: 14px;">
      <%= @event.message %>
    </p>
    <br>
  <% end %>

<br>

<p>Please consider covering their shift if you are able!
  <%= @event.user.name %> can be reached at <%= @event.user.email %>.</p>

<em><p>In cooperation,</p></em>
<%= image_tag(attachments['oscahub.ico'].url, style: 'height:100px; width:100px;') -%>
