<%= @event.user.name %> needs a sub for <b><%= @event.shift %></b> on <b><%= @event.date.strftime("%b%_d") %></b>.

<br><br>

  <% if !@event.message.nil? %>
    <b><%= @event.message %></b>
  <% end %>

<br><br>
<em><%= @user.name %> pushed this sub request to <%= @coop %>.
Please cover their shift if you are able!</em>

<em><p>In cooperation,</p>
<p>OSCA Hub</p></em>
