<% @comments = Comment.where(announcement_id: announcement.id)
                      .order("created_at DESC") %>

<% if @comments.any? %>
  <div id="reveal-<%= announcement.id %>">
    <input type="button"
           id="view__comments"
           value="view comments... (<%= @comments.count %>)"
           onclick="showComments(<%= announcement.id %>)" />
  </div>

  <div id="hide-<%= announcement.id %>" style="display: none;">
    <input type="button"
           id="hide__comments"
           value="hide comments..."
           onclick="hideComments(<%= announcement.id %>)" />
  </div>


  <div id="comments-<%= announcement.id %>" style="display: none;">
    <%= render 'comments/comment' %>
  </div>
<% end %>
