<% @comments.each do |comment| %>

  <% if comment != @comments.first %>
    <hr style="margin: 1rem 6rem" width="85%">
  <% end %>

  <div class=comments>
    <%= link_to gravatar_for(comment.user, size: 25), comment.user %>
    <span class="user"><%= link_to comment.user.name, comment.user %>

      <span class="timestamp">
        <%= render 'layouts/timestamp', object: comment %>
      </span>

      <% if current_user?(comment.user) %>
        <%= render 'comments/dropdown', comment: comment %>
      <% end %>
    </span>

    <span class="content"><%= markdown(comment.content) %></span>

  </div>
<% end %>
