<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <% if @user.coop_id.nil? %>
        <% if @user == current_user %>
          <%= render 'join_coop_button' %>
        <% end %>

      <% else %>
        <% coops = ["", "Brown Bag", "Fairkid", "Harkness", "Keep", "Pyle", "Tank", "TWC"] %>
        <p style="color: #b778a1"><%= coops[@user.coop_id] %></p>

      <% end %>

    </section>
  </aside>
  <div class="col-md-8">
    <% if @user == current_user %>
      <h3> Recent News in <%= coops[@user.coop_id] %> </h3>
      <ol class="announcements">
        <%= render Announcement.where('created_at > ?', 2.days.ago)
                               .where(coop_id: @user.coop_id) %>
      </ol>
      <ol class="events">
        <%= render Event.where('date > ?', 1.days.ago)
                        .where(coop_id: @user.coop_id) %>
      </ol>
    <% end %>
  </div>
</div>
