<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <% if @user.coop_id.nil? %>
        <%= link_to join_coop_path do %>
        <button type="button"
                class="btn btn-default"
                style="float: left;
                       margin-top: 5px;
                       background: #9668b6;
                       color: #ffffff;">
                       Join a Co-op
                     </button>
        <% end %>
      <% end %>

    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.announcements.any? %>
      <h3>Announcements (<%= @user.announcements.count %>)</h3>
      <ol class="announcements">
        <%= render @announcements %>
      </ol>
      <%= will_paginate @announcements %>
    <% end %>
  </div>
</div>
