<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <% if @user.coop_id.nil? %>
        <% if @user == current_user %>
          <%= render 'join_coop_button' %>
        <% end %>

      <% else %>
        <% coops = ["", "Brown Bag", "Fairkid", "Harkness", "Keep", "Pyle", "Tank", "TWC"] %>
        <p style="color: #b778a1"><%= coops[@user.coop_id] %></p>

      <% end %>

    </section>

    <% if @user == current_user && @user.coop_id.nil? == false %>
      <h5 style="line-height: 1.1em;">Check here for current information on
        your co-op! This page shows all open sub requests from your
        co-op and all announcements from the past 2 days.</h5>

      </aside>

    <div class="col-md-8">
      <h3> Recent News in <%= coops[@user.coop_id] %> </h3>
      <%= render 'recent_news' %>
      <% end %>
    </div>
</div>
