<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <% if @user.coop_id.nil? %>
        <% if @user == current_user %>
          <p style="padding: 6px;">
            Welcome <%= @user.name.partition(" ").first %>!
            Join your co-op by clicking the button below.
          </p>

          <%= link_to join_coop_path do %>
          <center><button type="button"
                  class="btn btn-default"
                  style="background: #be5b9b;
                         color: #ffffff;">
                         Join my co-op
                       </button></center>
          <% end %>
        <% end %>

      <% else %>
        <% coops = ["", "Brown Bag", "Fairkid", "Harkness", "Keep", "Pyle", "Tank", "TWC"] %>
        <p style="color: #b778a1"><%= coops[@user.coop_id] %></p>

      <% end %>

    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.announcements.any? %>
      <h3>Announcements (<%= @user.announcements.count %>)</h3>
      <ol class="announcements">
        <%= render @announcements %>
      </ol>
      <%= will_paginate @announcements %>
    <% end %>
  </div>
</div>
