<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <% if @user.coop_id.nil? %>
        <% if @user == current_user %>
          <%= render 'join_coop_button' %>
        <% end %>

      <% else %>
        <% coops = ["", "Brown Bag", "Fairkid", "Harkness", "Keep", "Pyle", "Tank", "TWC"] %>
        <p style="color: #b778a1"><%= coops[@user.coop_id] %></p>

      <% end %>

    </section>
  </aside>

    <% if @user == current_user && @user.coop_id.nil? == false %>

    <div class="col-md-8">
      <h3 data-toggle="popover" data-title="What's in Recent News?"
      data-content="This feed shows all open sub requests from your
        co-op and announcements posted in the last 48 hours. Check here for current information on
          your co-op!">
        Recent News in <%= coops[@user.coop_id] %> </h3>
      <%= render 'recent_news' %>
      <% end %>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="popover"]').popover({
      placement: 'left',
      trigger: 'hover',
      offset: 20,
    });
  });
</script>
