<%= form_for(@menu) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "Starch..." %>

    <%= f.text_field :content, placeholder: "Protein..." %>

    <%= f.text_field :content, placeholder: "Vegetable..." %>

    <%= f.text_field :content, placeholder: "Restrictions..." %>

    <%= f.text_field :content, placeholder: "Notes?" %>
    
    <%= f.submit "Post Menu", class: "btn btn-primary" %>
  </div>
<% end %>
