<div class="col-md-6 col-md-offset-3">
  <%= form_for(@menu) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :starch, "Starch" %>
    <%= f.text_field :starch, class: 'form-control' %>

    <%= f.label :protein, "Protein" %>
    <%= f.text_field :proteim, class: 'form-control' %>

    <%= f.label :vegetable, "Vegetable" %>
    <%= f.text_field :vegetable, class: 'form-control' %>

    <%= f.label :restrictions, "Restrictions" %>
    <%= f.text_field :restrictions, class: 'form-control' %>

    <%= f.label :notes, "Notes?" %>
    <%= f.text_field :Notes, class: 'form-control' %>

    <%= f.submit "Post Menu", class: "btn btn-primary" %>
  <% end %>
</div>
