<div id="calendar"></div>
<div id="newEvent"></div>
<div id="showEvent"></div>

<script type="text/javascript">

  $('#calendar').each(function(){
    var calendar = $(this);

    calendar.fullCalendar({

      header: {
        left: 'subRequestButton',
        center: 'title',
        right: 'today prev,next'
      },

      defaultView: 'month',
      eventLimit: true,
      editable: true,
      displayEventTime: false,
      defaultTimedEventDuration: '1:00',
      minTime: "8:00:00",
      maxTime: "22:00:00",

      customButtons: {
        subRequestButton: {
          text: 'request a sub...',
          click: function() {
            $('#newEvent').replaceWith("<%= j render 'events/new' %>");
            $('#subreqFormModal').modal();
            $('#subreqFormTitle').html("Request a Sub");
          },
        }
      },

      eventClick: function(event) {
        $('#showEvent').replaceWith("<%= j render 'events/show' %>");
        $('#eventPopupModal').modal();
        $('#title').html(event.title);
        $('#message').html(event.description);

        $('#submittedBy').html(" submitted by "
                                +event.user_name
                                +" on "
                                +event.formatted_created_at);

        var current_user_id = <%= @user.id %>

        $("#coverShiftButton").hide();
        if (current_user_id != event.user_id) {
          $("#coverShiftButton").show();
          $('#coverShiftButton').attr('href',"mailto:"
                                        +event.user_email
                                        +"?subject=Re: Sub Request for "
                                        +event.formatted_start);
        };

        $("#delete").hide();
        if (current_user_id == event.user_id) {
          $("#delete").show();
          $("#delete").click(function(){
            if (confirm('Delete sub request?')) {
              $.ajax({
                type: "delete",
                url: "/events/destroy/"+event.id,
                data: {event_id: event.id},
              });
            }
          })
        }
      }

    });

    const events = <%= raw @events.to_json %>;
    const user_names = <%= raw @users_by_name.to_json %>;
    const user_emails = <%= raw @users_by_email.to_json %>;

    const grey = '#8b8b8b';
    const purple = '#b778a1';

    const today = moment().add(-1,'days');
    const tomorrow = moment();
    const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                    "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    events.map(function(event){

      var color = (today > moment(event.date)) ? grey : purple;
      var created_at = new Date(event.created_at);
      var start = new Date(moment(event.date).format());
      var hour = (event.shift) ? '1st hour ' : '2nd hour ';
      var meal;
      var time;

      if (event.meal) {
        meal = 'lunch';
        time = (event.shift) ? '10:20' : '11:20';
      }
      else {
        meal = 'dinner';
        time = (event.shift) ? '16:20' : '17:20';
      };

      var this_event = {
        title: hour+meal,
        start: event.date+"T"+time,
        description: event.message,
        id: event.id,
        user_id: event.user_id,
        user_name: user_names[event.user_id],
        user_email: user_emails[event.user_id],
        color: color,
        formatted_created_at: months[parseInt(created_at.getMonth())]
                                        + " " + created_at.getDate(),
        formatted_start: months[parseInt(start.getMonth())]
                                    + " " + start.getDate(),
      }

      calendar.fullCalendar("renderEvent", this_event, true);

  });
});

</script>
