<div id="calendar"></div>
<%= render 'events/show', ev: event %>
<%= render 'events/new' %>

<script type="text/javascript">
  $(function() {
    $('#calendar').each(function(){
      var calendar = $(this);
      calendar.fullCalendar({
      header: {
        left: 'prev,next subRequestButton',
        center: 'title',
        right: 'today month,agendaWeek,agendaDay'
      },

      defaultView: 'month',
      eventLimit: true,
      editable: true,
      displayEventTime: false,

      customButtons: {
        subRequestButton: {
          text: 'request a sub...',
          click: function() {
            $('#subreqFormModal').modal();
            $('#subreqFormTitle').html("Request a Sub");
          },
        }
      },

      eventClick: function(event, element) {
        $('#eventPopupModal').modal();
        $('#shiftRequested').html(event.title);
        $('#requestMessage').html(event.description);
        $('#submittedBy').html(event.id+" submitted by "
                                +event.user_name
                                +" on "
                                +event.created_at);
        $('#swapButton').attr('href',"mailto:"
                                      +event.user_email
                                      +"?subject=Re: Sub Request for "
                                      +event.date);
      }
    });

    var color;
    if (moment().add(-1,'days') > moment("<%= event.date %>")) {
      color = '#8b8b8b';
    }
    else {
      color = '#b778a1';
    };

    var events = {
      title: "<%= event.shift %>".replace("&#39;", "\'"),
      date: "<%= event.date&.strftime("%b %d") %>",
      start: moment("<%= event.date %>"),
      description: "<%= event.message %>",
      user_name: "<%= User.find(event.user_id).name %>",
      user_email: "<%= User.find(event.user_id).email %>",
      created_at: "<%= event.created_at&.strftime("%b %d, %Y") %>",
      id: "<%= event.id %>",
      color: color,
    };
    calendar.fullCalendar("renderEvent", events, true);
  });
});
</script>
