<div id="calendar"></div>
<%= render 'events/show' %>

<script type="text/javascript">
  $(function() {
    $('#calendar').each(function(){
      var calendar = $(this);
      calendar.fullCalendar({
      defaultView: 'month',

      header: {
        left: 'prev,next addEventButton',
        center: 'title',
        right: 'today month,agendaWeek,agendaDay'
      },

      eventLimit: true,
      editable: true,
      displayEventTime: false,

      customButtons: {
        addEventButton: {
          text: 'request a sub...',
          click: function() {
            location.href = "/events/new";
          },
        }
      },

      eventClick: function(event, jsEvent, view) {
          $('#modalTitle').html(event.title);
          $('#modalBody').html(event.description);
          $('#submittedBy').html("submitted by "+event.user_name);
          $('#emailSubmitter').attr('href',"mailto:"+event.user_email);
          $('#fullCalModal').modal();
      },
    });
  });
});
</script>

<script type="text/javascript">
  $(function() {

    $('#calendar').each(function(){
    var events = {
      title: "<%= event.shift %>",
      start: moment("<%= event.date %>"),
      description: "<%= event.message %>",
      user_name: "<%= User.find(event.user_id).name %>",
      user_email: "<%= User.find(event.user_id).email %>",
      color: '#b778a1',
    };

    $('#calendar').fullCalendar("renderEvent", events, true);
  });
});
</script>
