<hr style="margin: 10px;">
<li id="event-<%= event.id %>">
  <%= link_to gravatar_for(event.user, size: 50), event.user %>
  <span class="user"><b style="color: #ce0e5b;">*Sub Needed*</b></span> for <%= event.user.name %>
  <br>
  <span class="content">
    <%= event.date.strftime("%A %b %d") %>, <%= event.shift %>
  </span>
  <br>
  <span class="timestamp" style="color: #727272;">
    posted <%= time_ago_in_words(event.created_at) %> ago
    <% if !current_user?(event.user) %>
      | <%= mail_to event.user.email, "cover shift", subject: "Re: Sub Request for "+event.date.strftime("%b%_d"), style: "color: #9900b6" %>
    <% end %>
  </span>
</li>
