<div id="calendar"></div>
<%= render 'events/show' %>
<%= render 'events/new' %>

<script type="text/javascript">
  $(function() {
    $('#calendar').each(function(){
      var calendar = $(this);
      calendar.fullCalendar({
      defaultView: 'month',
      header: {
        left: 'prev,next subRequestButton',
        center: 'title',
        right: 'today month,agendaWeek,agendaDay'
      },
      eventLimit: true,
      editable: true,
      displayEventTime: false,
      customButtons: {
        subRequestButton: {
          text: 'request a sub...',
          click: function() {
            $('#subreqFormModal').modal();
            $('#subreqFormTitle').html("Request a Sub");
            $('#subreqFormPage').attr('href', 'events/new');
          },
        }
      },
      eventClick: function(event) {
          $('#eventPopupModal').modal();
          $('#requestShift').html(event.title);
          $('#requestMessage').html(event.description);
          $('#submittedBy').html("submitted by "+event.user_name+" on "+event.created_at);
          $('#swapButton').attr('href',"mailto:"+event.user_email+"?subject=Re: Sub Request for "+event.date);
      },
    });
  });
});
</script>

<script type="text/javascript">
  $(function() {
    $('#calendar').each(function(){
    var events = {
      title: "<%= event.shift %>",
      date: "<%= event.date&.strftime("%b %d") %>",
      start: moment("<%= event.date %>"),
      description: "<%= event.message %>",
      user_name: "<%= User.find(event.user_id).name %>",
      user_email: "<%= User.find(event.user_id).email %>",
      created_at: "<%= event.created_at&.strftime("%b %d, %Y") %>",
      color: '#b778a1',
    };
    $('#calendar').fullCalendar("renderEvent", events, true);
  });
});
</script>
