<div id="handsigns-images" style="display: block;">
  <input type="button" class="btn btn-primary toggle" value="Toggle Images" onclick="showHandSignsText()" />

  <h5>
  <hr>
  Raise your hand if you want to get put on stack.
  <%= image_tag("hand_signs/raisingHand.gif", alt: "I have something to say
  (open hand, palm forward)", class: "logo") %>

  <hr>
  Make a proposition by making a little llama with your hand.
  <%= image_tag("hand_signs/llama.gif", alt: "I propose (hand with index and
  pinkie fingers raised to form a llama's ears, and the middle and ring fingers
  touching the thumb to form a snout)", class: "logo") %>

  <hr>
  Kill your proposal by turning the proposal llama upside down.
  <%= image_tag("hand_signs/deadLlama.gif", alt: "I kill my proposal (hand in
  the llama shape, turned over as if the llama is lying on its back)", class: "logo") %>

  <hr>
  Ask a factually based question with the ASL figure for “c.”
  <%= image_tag("hand_signs/clarifyingQuestion.gif", alt: "Clarifying question
  (hand forming the letter C with thumb and fingers)", class: "logo") %>

  <hr>
  To respond to a clarifying question, make the ASL figure for “d.”
  <%= image_tag("hand_signs/directResponse.gif", alt: "Direct response (hand
  with the index finger raised and the other fingers forming a circle with the thumb)", class: "logo") %>

  <hr>
  If someone’s made a factual error, you can correct them with the ASL symbol for “f.”
  <%= image_tag("hand_signs/factualCorrection.gif", alt: "Factual correction
  (index finger and thumb form a circle, with the other 3 fingers standing up)", class: "logo") %>

  <hr>
  If something’s not going according to procedure, you can point it out with
  the ASL sign for "i."
  <%= image_tag("hand_signs/proceduralPinky.gif", alt: "Procedural pinky
  (a closed fist is raised, then the pinkie finger extends)", class: "logo") %>

  <hr>
  Let people know you agree with what's being said by making a knocking motion
  with your first, meaning “yes.”
  <%= image_tag("hand_signs/knock.gif", alt: "I agree with that (a closed fist
  moves up and down at the wrist, as if nodding)", class: "logo") %>

  <hr>
  If you want to continue a discussion later:
  <%= image_tag("hand_signs/table.gif", alt: "Let’s table the discussion (Hands
  held flat and perpendicular to each other, forming the letter T)", class: "logo") %>

  <hr>
  Turn your thumb up if you agree, to the side if you feel uncomfortable with
  a proposal passing, or down if you feel the proposal is an absolutely awful decision.
  Make a closed fist if you want to abstain from voting.
  <%= image_tag("hand_signs/voting.gif", alt: "Described in the preceding paragraph", class: "voting-image") %>
  </h5>
</div>
