<center>

  <% if current_user.coop_id.nil? %>
    <h2><u>OSCA Student Contact</u></h2>
    <h4>Check back here for contact information after you are approved to join your co-op's OSCA Hub.</h4>

  <% else %>
    <h2><u><%= Coop.find(current_user.coop_id).name %> Student Contact</u></h2>

    <ul>
      <li><strong>FSCs:</strong>
        <%= Coop.fsc[current_user.coop_id] %> </li>

      <li><strong>New Member Trainer:</strong>
        <%= Coop.new_member_trainer[current_user.coop_id] %> </li>

      <li><strong>MemCo:</strong>
        <%= Coop.memco[current_user.coop_id] %> </li>

      <li><strong>AccessCo:</strong>
        <%= Coop.accessco[current_user.coop_id] %> </li>

      <li><strong>NutCo:</strong>
        <%= Coop.nutco[current_user.coop_id] %> </li>

      <li><strong>KitchCo:</strong>
        <%= Coop.kitcho[current_user.coop_id] %> </li>

      <li><strong>DLECs:</strong>
        <%= Coop.dlecs[current_user.coop_id] %> </li>

      <li><strong>Treasurer:</strong>
        <%= Coop.treasurer[current_user.coop_id] %> </li>

      <li><strong>Board Rep:</strong>
        <%= Coop.board_rep[current_user.coop_id] %> </li>

      <li><strong>Food Unpacker/Recycler:</strong>
        <%= Coop.food_unpacker_recycler[current_user.coop_id] %> </li>
    </ul>
    <br>

  <% end %>

<%= render 'static_pages/contact/logged_out' %>
</center>
