<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to gravatar_for(current_user, size: 50), current_user %>
      <h1><%= current_user.name %></h1>
    </section>

    <section class="announcement_form">
      <%= render 'announcements/announcement_form' %>
    </section>

    <section id="other-announcements">
      <p>Recent Announcements in...</p><br>
      <%= button_to Coop.find(current_user.coop_id).name, root_url,
          method: :get,
          class: "btn btn-primary other-announcements" %>
      <% for id in 2..6 %>
        <% if id != current_user.coop_id %>
          <input type="button"
                 id="coop-<%= id %>"
                 class="btn btn-primary other-announcements"
                 value="<%= Coop.find(id).name %>"
                 onclick="show_other_coop(<%= id %>)" /><br>
        <% end %>
      <% end %>
    </section>

    <br>
  </aside>

  <div class="col-md-8">
    <% if current_user.coop_id.nil? %>
      <h3>Announcements</h3>
      <h2 style="text-align: left">Check back here for announcements after
        you are approved to join your co-op's OSCA Hub.</h2>
    <% else %>

    <h3 id="announcement-header"
        data-toggle="popover"
        data-placement="left"
        data-title="What's an Announcement?"
        data-content=
          "<b>Announcements</b> are messages that concern your entire co-op. <br />
           <b>If your announcement is urgent,</b> use the <em>push</em> button from the
           dropdown menu to email it to all members of <%= Coop.coops[current_user.coop_id] %>.">
      Announcements
    </h3>

    <% end %>

    <%= render 'announcements/feed' %>
    <%= render 'announcements/other_coop_announcements/feed' %>

  </div>
</div>
