<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
      <%= link_to "OSCA Hub", root_path, id: "logo" %>
    <nav>

        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-center">
            <% coop_ID = current_user.coop_id || 0 %>
            <li id="coop"><%= Coop.coops[coop_ID] %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>

          <% if coop_ID != 1 %>
            <li><%= link_to "Menus", menus_path %></li>
            <li><%= link_to "Save Plates", saveplates_path %></li>
          <% end %>

          <li><%= link_to "Workchart", workchart_path %></li>
          <li><%= link_to "Sub Requests", subrequests_path %></li>

          <%= render 'layouts/account_dropdown' %>

        <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        </ul>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
